Dockerfile
.dockerignore
node_modules
npm-debug.log
.next
.git
.gitignore
.github
.vscode
README.md
.env*.local
.nyc_output
docs
tests
playwright.config.ts
.lighthouseci
coverage
*.log
.DS_Store
dist
.cache
